In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import lxml.html as lh

/Users/davidchung/.pyenv/versions/3.6.0/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/davidchung/.pyenv/versions/3.6.0/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:

#make it into a function,takes url and page number as argument
def extract_result(url,end_page):
    i=1 #counter
    marathon_result = {} # initialize empty dataframe
    while i <= end_page: #keep looping until counter reaches page number
        page=str(i) #convert counter to string
        website_url= url + page #assign url
        result = requests.post(website_url) #grab source html
        soup = BeautifulSoup(result.content) #soupify
        html_content = soup.prettify() #output as html
        tables = pd.read_html(html_content) #read from html
        marathon_result[i]=pd.DataFrame(data = tables[1]) #table[1] is where the results are located
        i=i+1                                             #assign table[1] to dataframe for page number
      
    i=1 #reset counter for concatenating
    while i < end_page: #while loop to concatenate all the dataframes to form one dataframe
        marathon_result[i+1]=pd.concat([marathon_result[i],marathon_result[i+1]],ignore_index=True)
        i=i+1
        
       
    return marathon_result[i] #return final concatenated dataframe

In [ ]:
#call function to get dataframe for wanted results
full_2018_results = extract_result('https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page=',100)

In [4]:
#Data exploring
full_2018_results.shape

(2115, 4)

In [7]:
#data exploring
full_2018_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2115 entries, 0 to 2114
Data columns (total 4 columns):
Overall    2115 non-null object
Bib        2115 non-null object
Name       2115 non-null object
Time       2115 non-null object
dtypes: object(4)
memory usage: 66.2+ KB

In [9]:
#data exploring
full_2018_results.tail()

     Overall    Bib             Name      Time
2110   99999  31683    Aubrey Spaeth  00:00:00
2111   99999  33654   Jeffrey Ekkart  00:00:00
2112   99999  30482      David Ramos  00:00:00
2113   99999  33461   Emily Eagerton  00:00:00
2114   99999  31515  Tony Quernemoen  00:00:00

In [290]:
#add more columns for convinience i.e. type of race and year
full_2018_results['Year']='2018'
full_2018_results['Distance']='Full'

In [302]:
#export to csv file.
full_2018_results.to_csv('data/2018_full_results.csv')